.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh;
  min-height: 500px;

  .hero{
    max-width: 200px;
  }

  span{
    display: flex;
    gap: 25px;
    justify-content: center;

    a {
      margin: 0;

      img{
        width: 40px;
      }
    }
  }

  a{
    width: fit-content;
    align-self: center;
  }

  button{
    background-color: var(--btn-color);
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    width: 120px;
    height: 50px;
    font-size: 19px;
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  }

  button:hover{
    transform: scale(1.05);
  }

  button:active{
    transform: translateY(2px);
  }
}

/* .colorModeContainer{

} */

.description{
  max-width: 30ch;
  align-self: center;
}

.info{
  display: flex;
  flex-direction: column;
  gap: 35px;
}

@media(width >=800px){
  .container{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;

    .hero{
      max-width: 350px;
      width: 350px;
    }
  }
}

@media (width >=1400px){
  .container{
   .hero{
    max-width: 450px;
    width: 450px;
   }
  }
}