:root {
  --background-color: #222;
  --text-color: #fff;
  --btn-color: #00a7a7;
  --project-card-bg: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
